.add_new_trasnc_head {
  font-size: 18px;
  letter-spacing: 2px;
  display: block;
  padding-bottom: 8px;
  margin-top: 3rem;
  border-bottom: 2px solid #262d3f;
}
.add_new_transc_form label,
input {
  display: block;
  margin: 0.5rem 0rem;
  width: 100%;
}
.add_new_transc_form input {
  padding: 0.5rem 0rem;
  color: #262d3f;
}
.add_new_transc_form input:focus {
  outline: none;
}
.form-group {
  margin: 1rem 0rem;
}
.add_new_transc_form button {
  background-color: #262d3f;
  color: #fff;
  border: none;
  width: 100%;
  padding: 0.5rem 0rem;
  font-size: 16px;
}

.transac_error {
  background: #a43653;
  display: block;
  padding: 0.5rem 1rem;
  box-sizing: 0px 0px 12px rgba(0, 0, 0, 0.5);
}
.transac_success {
  background: #07b625;
  display: block;
  padding: 0.5rem 1rem;
  box-sizing: 0px 0px 12px rgba(0, 0, 0, 0.5);
}

.positive {
  font-size: 18px;
  color: #07b625;
}
.negative {
  font-size: 18px;
  color: #a43653;
}
.no_data {
  background-color: rgb(197, 193, 193);
  color: #262d3f;
  display: block;
  padding: 0.5rem 1rem;
}
