.expense_list_head {
  font-size: 18px;
  letter-spacing: 2px;
  display: block;
  padding-bottom: 8px;
  border-bottom: 2px solid #262d3f;
}
.expense_income_item {
  position: relative;
}
.transaction_history {
  padding: 0px 26px;
  list-style-type: none;
  max-height: 200px;
  overflow-y: scroll;
  scrollbar-color: #1d2437 #222b46;
  scrollbar-width: thin;
  width: 500px;
  margin-left: -50px;
}
.expense_income_item {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.expense_income_item .close {
  position: absolute;
  background-color: #a43653;
  left: -25px;
  top: 15px;
  opacity: 0;
  transition: 0.6s ease-in-out;
  padding: 8px;
}
.expense_income_item:hover .close {
  opacity: 1;
}

.expense_income_item.expense_gain {
  border-radius: 10px;
  border-right: 4px solid #55b6b7;
}
.expense_income_item.expense_spend {
  border-radius: 10px;
  border-right: 4px solid #a43653;
}
